@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  /* entire page  */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* root colors  */
  --tenne-tawny: #d65108;
  --tenne-tawny-dark: #b54507;
}

.btn {
  background-color: #0e7cc7;
  border-color: #0e7cc7;
  transition: background-color 1s;
}

.btn:hover {
  background-color: #094872;
  border-color: #094872;
}

body {
  /*  */
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* positioning for entire web page holding out meal-etc */
.Container {
  min-height: 100vh;
}

/* positioning and size of meals */
.meal-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
}

/* size of search bar */
.meal-search {
  margin: 2rem 0;
}

/* gives space between seach bar and search results */
.meal-search cite {
  font-size: 1rem;
}

/* parent of search-control */
.meal-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

/* search bar/button display */
.search-control,
.search-btn {
  width: 100%;
  color: #0e7cc7;
}

/*  */
.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;

  /* color of searchbar boarder  */
  /* border: 1px solid var(--tenne-tawny); */
  border: 1px solid #0e7cc7;
  color: var(--tenne-tawny);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

/* color of text inside of searchbar */
.search-control::placeholder {
  /* color: var(--tenne-tawny); */
  color: #0e7cc7;
}

/* search button */
.search-btn {
  /* width, height and font size controls the
    size of magnifying glass */
  width: 55px;
  height: 55px;
  font-size: 1.8rem;

  /* background changes color of magnifying glass background */
  /* background: var(--tenne-tawny) */
  background: #0e7cc7;

  color: #fff;
  /* change the color of the magnifying glass with color */
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  /* influences the time of how long it takes for the hover effect to take place */
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

/* hover effects for search-button */
.search-btn:hover {
  background: var(--tenne-tawny-dark);
}

/* meal results positioning */
.meal-result {
  margin-top: 4rem;
}

/* meal positioning */
#meal {
  margin: 2.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#card {
  /* border: 2px dashed #0868d6; */
  /* border: 2px solid rgba(7, 80, 148, 0.877); */
  border-radius: 15%;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.meal-details-content {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* .meal-details-content p:not(.recipe-category) {
  padding: 1rem 0;
} */

.recipe-title {
  letter-spacing: 1px;
}

.recipe-instruct {
  padding: 1rem 0;
}

.recipe-meal-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.recommended-options {
  margin: auto 5px;
  background-color: white;
  padding: 6px;
  border-radius: 20px;
  transition: scale 0.1s ease;
}

.recommended-options:hover {
  scale: 1.1;
  border-color: #0078d7;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  .meal-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}